.page{
	width:auto;
    border-width: 1px 0;    
    border-style: solid;
    border-color: #AAAAAA; 
    position: relative;
}
a {
	text-decoration:none;
}
#nav-bar ul li{
	display:inline-block;

}
.item{
	float:right;
	margin-right:15px;
	margin-top:40px;
}
.sidebar{
	height:700px;
	width:400px;
	border-width: 1px;    
    border-style: solid;
    position: absolute;
    left:50px;
    

}
.content{
	margin-left:500px;
	width:700px;
	height:800px;
	border-width: 1px;    
    border-style: solid;
}
.post{
	height:200px;
	width:600px;
	border-width: 1px;    
    border-style: solid;
	margin:auto;
}
.profile{
	height:300px;
	width:350px;
	margin:auto;
	border-width: 1px;    
    border-style: solid;
    text-align:center;
    margin-top:30px;
}
.text{
	margin-left:15px;

}
.post-btn{
	margin-left:20px;

}







